.df1-theme-solarized-dark div.df1-log {
    font-family: monospace;
}

.df1-theme-solarized-dark div.df1-log.df1-debug,
.df1-theme-solarized-dark div.df1-log.df1-info,
.df1-theme-solarized-dark div.df1-log.df1-notice,
.df1-theme-solarized-dark div.df1-log.df1-warning {
   background-color: #002b36;
   color: #93a1a1;
}

.df1-theme-solarized-dark div.df1-log.df1-debug span.push,
.df1-theme-solarized-dark div.df1-log.df1-info span.push,
.df1-theme-solarized-dark div.df1-log.df1-notice span.push,
.df1-theme-solarized-dark div.df1-log.df1-warning span.push,
.df1-theme-solarized-dark div.df1-log.df1-error span.push {
    color: #268bd2;
}

.df1-theme-solarized-dark div.df1-log.df1-debug span.key,
.df1-theme-solarized-dark div.df1-log.df1-info span.key,
.df1-theme-solarized-dark div.df1-log.df1-notice span.key,
.df1-theme-solarized-dark div.df1-log.df1-warning span.key,
.df1-theme-solarized-dark div.df1-log.df1-error span.key,
.df1-theme-solarized-dark div.df1-log.df1-critical span.key,
.df1-theme-solarized-dark div.df1-log.df1-alert span.key,
.df1-theme-solarized-dark div.df1-log.df1-emergency span.key  {
    color: #2aa198;
}

.df1-theme-solarized-dark div.df1-log.df1-notice span.level {
    color: #859900;
}

.df1-theme-solarized-dark div.df1-log.df1-warning span.level {
    color: #b58900;
}

.df1-theme-solarized-dark div.df1-log.df1-error {
    background-color: #fdf6e3;
    color: #002b36;
}

.df1-theme-solarized-dark div.df1-log.df1-error span.level {
    color: #dc322f;
}

.df1-theme-solarized-dark div.df1-log.df1-critical, 
.df1-theme-solarized-dark div.df1-log.df1-alert, 
.df1-theme-solarized-dark div.df1-log.df1-emergency {
    background-color: #dc322f;
    color: #002b36;
}

.df1-theme-solarized-dark div.df1-log.df1-critical span.push,
.df1-theme-solarized-dark div.df1-log.df1-alert span.push,
.df1-theme-solarized-dark div.df1-log.df1-emergency span.push,
.df1-theme-solarized-dark div.df1-log.df1-critical span.level, 
.df1-theme-solarized-dark div.df1-log.df1-alert span.level, 
.df1-theme-solarized-dark div.df1-log.df1-emergency span.level {
    color: #fdf6e3;
}